.thumbnail img{
    width:100%;
}
.thumbnail {
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form {
    display: inline;
}

.foo {
     position: absolute;
    height: 50px;
    left: 0px;
    right: 0px;
    margin-bottom: 20px;
}